h1 {
  text-align: center;
}

.cell {
  float: left;
  box-sizing: border-box;
}

#container {
  height: 320px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid black;
}

#inputs {
  text-align: center;
}

#inputs button,
#inputs select {
  margin: 5px;
  height: 40px;
  font-size: 14px;
}